<div class="row">
        <div class="col-md-12">
        
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="icon-settings font-green-sharp"></i>
                        <span class="caption-subject bold uppercase">Tasks </span>
                        <span class="caption-helper "></span>
                    </div>
                    
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#" data-target="#tab_15_1_overview" data-toggle="tab"> Pending  </a>
                                </li>
                                <li>
                                    <a href="#" data-target="#tab_15_2_dashboard" data-toggle="tab"> Completed </a>
                                </li>
                                
                                <li>
                                    <a href="#" data-target="#tab_15_4_files" data-toggle="tab"> All Tasks </a>
                                </li>
                                <li >
                                        <a href="#" data-target="#tab_15_1_reports" data-toggle="tab"> Reports </a>
                                </li>
                                <li>
                                    <a href="#" data-target="#tab_15_2_discuss" data-toggle="tab"> Discuss </a>
                                </li>
                                <li>
                                    <a href="#" data-target="#tab_15_3_issues" data-toggle="tab"> Issues </a>
                                </li>
                                
            
                            </ul>
                        </div>


                        <div class="tab-content">
                                <div class="tab-pane active" id="tab_15_1_overview">
                                    <div class="row">
                                        <div class="col-sm-3">
                                                <div class="form-group form-md-line-input">
                                                        <label class="col-md-12 control-label" for="form_control_1">Select Department</label>
                                                        <div class="col-md-12">
                                                            <div class="margin-bottom-6">
                                                                <select class="bs-select form-control input-small" data-style="btn-primary">
                                                                        <option>Mustard</option>
                                                                        <option>Ketchup</option>
                                                                        <option>Relish</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                       
                                                </div>
                                        </div>
                                        <div class="col-sm-3">
                                                <div class="form-group form-md-line-input">
                                                        <label class=" control-label col-md-12" for="form_control_1">Select Task</label>
                                                        <div class="col-md-12">
                                                            <div class="margin-bottom-10">
                                                                <select class="bs-select form-control input-small" data-style="btn-success">
                                                                    <option>Mustard</option>
                                                                    <option>Ketchup</option>
                                                                    <option>Relish</option>
                                                                </select>  
                                                            </div>
                                                        </div>
                                                </div>
                                        </div>
                                        <div class="col-sm-3">
                                                <div class="form-group form-md-line-input">
                                                        <label class="col-md-12 control-label" for="form_control_1">Access</label>
                                                        <div class="col-md-12">
                                                            <div class="margin-bottom-10">
                                                                <select class="bs-select form-control input-small" data-style="btn-success">
                                                                        <option>Mustard</option>
                                                                        <option>Ketchup</option>
                                                                        <option>Relish</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <br>
                                                <div class="text-center">
                                                        <a href="#" class="btn green btn-outline btn-circle "> <i class="fa fa-plus"></i> Add Task</a>
                                                    </div>
                                        </div>


                                    </div>
                                    <br>

                                    <div class="row">

                                            <div class="col-sm-3 pull-right">
                                                    <div class="input-icon right">
                                                            <input type="text" class="form-control" id=""  placeholder="Search...">
                                                            <label for="form_control_1"></label>
                                                            
                                                    </div>
                                            </div>
                                            
                                    </div>

                                    
                                    <table class="table table-condensed">
                                        <thead>
                                            <th>#</th>
                                            <th>Task Name</th>
                                            <th>Task type</th>
                                            <th>Priority</th>
                                            <th>Due Date </th>
                                            <th>Status   </th>
                                            <th>% Done</th>
                                            <th>Created By</th>
                                            <th>Assigned to </th>
                                            <th>Comments</th>
                                            <th>Views </th>
                                        </thead>
                                        <tbody>
                                                <!-- <tr ng-repeat="row in project_info.tasks">
                                                        <td>{{row.id}} 1</td>
                                                        <td class="text-center text-primary">{{row.name}}</td>
                                                        <td>{{row.task_type}}</td>
                                                        <td>{{row.priority}}</td>
                                                        <td>{{row.due_date}}</td>
                                                        <td>{{row.status}}</td>
                                                        <td>{{row.percentage}}</td>
                                                        <td>{{row.created_by}}</td>
                                                        <td>{{row.assingned_to}}</td>
                                                        <td>{{row.comments}}</td>                                                        
                                                        <td> 
                                                            <div class="text-center">
                                                                    <a href="#" class="btn blue btn-outline btn-small btn-icon-only btn-default"> <i class="fa fa-pencil"></i></a>
                                                                    <a href="#" class="btn red btn-outline btn-small btn-icon-only btn-default"> <i class="fa fa-trash"></i></a>
                                                            </div>
                                                         </td>
                                                        
                                                    </tr> -->
                                                    <tr>
                                                            <td>1</td>
                                                            <td class="text-center text-primary">this is a task name</td>
                                                            <td>type</td>
                                                            <td>low</td>
                                                            <td>13/4/2018</td>
                                                            <td>open</td>
                                                            <td>10%</td>
                                                            <td>harry</td>
                                                            <td>kelvin</td>
                                                            <td>No comments</td>                                                        
                                                            <td> 
                                                                <div class="text-center">
                                                                        <a data-bind="tooltip" data-original-title="Edit" href="#" data-target="#FormModal"
                                                                         data-toggle="modal" ng-click="project_form(project.)" class="btn blue btn-outline btn-small btn-icon-only btn-default">
                                                                          <i class="fa fa-pencil"></i>
                                                                        </a>
                                                                        <a href="#" class="btn red btn-outline btn-small btn-icon-only btn-default"> <i class="fa fa-trash"></i></a>
                                                                </div>
                                                            </td>
                                                    </tr>
                                                    
                                            
                                            
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="tab_15_2_dashboard">
                                    <h1>dahsboards</h1>                                    
                                </div>
                                
                                <div class="tab-pane" id="tab_15_4_files">
                                        <h1>Files</h1>
                                </div>
                                <div class="tab-pane" id="tab_15_1_reports">
                                        <h1>reports</h1>
                                </div>
                                <div class="tab-pane" id="tab_15_2_discuss">
                                        <h1>disscussions</h1>
                                </div>
                                <div class="tab-pane" id="tab_15_3_issues">
                                        <h1>issues</h1>
                                </div>
                        </div>

                    </div>
                </div>
            </div>
    
        </div>
    </div>